{% extends 'base.html' %}

{% block title %} Дурка {% endblock %}

{% block content %}
<main>
    
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">HOSPITAL</h1>
        <div class="lead text-muted">Добро пожаловать в наш сайт с больницами мира. В этом сайте вы сможете легко записатся в больницу на онлайне и прийти туда без проблем!</div><p>
        <p>
          <a href="{% url 'addNurses' %}" class="btn btn-primary my-2">Добавить медсестру</a>
          <a href="{% url 'addPatients' %}" class="btn btn-secondary my-2">Добавить пациента</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light" id="hospitals">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       
        {% for hospital in hospitals %}
        <div class="col">
          <div class="card shadow-sm">
          {% if hospital.photo %}  
          <img src="{{hospital.photo.url}}" width="100%" height="100%" fill="#55595c"></svg>
          {% endif %}
            <div class="card-body">
              <p class="card-text">{{hospital.name}}
                  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'detail' pk=hospital.pk  %}"  type="button" class="btn btn-sm btn-outline-secondary">Инофрмация</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}